.Navbar {
    margin: 0 55px;
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: auto;
}

.Navbar ul li {
    flex: 1;
    background-color: white;
    padding: 7px 0px;
    min-width: 140px;
    width: 140px;
    transition: all 200ms ease;
    cursor: pointer;
}

.Navbar ul li:hover {
    color: black;
    background: lightgray;
}

.Navbar ul li.menu-item.active {
    background: #183f93;
    color: white;
    font-weight: bold;
}