.user-earning {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;

}

.user-earning div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 13px;
    line-height: 1;
}

.user-earning:hover span {
    color: grey;
}

.user-earning img {
    height: 18px;
    align-self: flex-end;
    margin-right: 4px;
}